[Desktop Entry]
Name=Simple Weather Monitor
Keywords=Cosmic;Iced;
Categories=Cosmic;Iced;

Type=Application
Icon=one.weird.nandi.weather-applet-symbolic
Exec=cosmic-weather-applet
Terminal=false
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
